manifest {
  name = 'Sage-Bionetworks-Workflows/nf-synapse'
  author = 'Brad Macdonald'
  homePage = 'https://github.com/Sage-Bionetworks-Workflows/nf-synapse'
  description = 'Synapse Operations for Nextflow'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.0.0'
  version = '0.0.1'
  defaultBranch = 'main'
}
